@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>SISTEMA DE VOTOS </p>
    <p>Cantidad de Votos: @ViewBag.CantVotos </p>
    <p>Cantidad de Votos Fraudolentos: @ViewBag.CantFraud </p>}
</div>
