@model BD_Bicicletas.Candidato;

@{
    ViewData["Title"] = "Editar Bici";
}



<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form asp-action="EditBici">
                    <div class="card-header">@ViewData["Title"]</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="Nombre" class="control-label"></label>
                                        <input asp-for="Nombre" class="form-control" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="Imagen" class="control-label"></label>
                                        <input asp-for="Imagen" type="file" class="form-control" />
                                        <span asp-validation-for="Imagen" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="Tipo" class="control-label"></label>
                                        <select asp-for="Tipo" class="form-control"></select>
                                        <option value="1">Domestica</option>
                                        <option value="2">Montaña</option>
                                        <option value="3">Carreras</option>
                                        <option value="4">Turismo</option>
                                        <option value="5">Plegable</option>
                                        <option value="6">Eléctrica</option>

                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="Marca" class="control-label"></label>
                                        <input asp-for="Marca" class="form-control" />
                                        <span asp-validation-for="Marca" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="Tamaño" class="control-label"></label>
                                        <input asp-for="Tamaño" class="form-control" />
                                        <span asp-validation-for="Tamaño" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="CantidadPlatos" class="control-label"></label>
                                        <input asp-for="CantidadPlatos" class="form-control" type="number" step="1" />
                                        <span asp-validation-for="CantidadPlatos" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12">
                                        <label asp-for="CantidadPiñones" class="control-label"></label>
                                        <input asp-for="CantidadPiñones" class="form-control" type="number" step="1" />
                                        <span asp-validation-for="CantidadPiñones" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Grabar" class="btn btn-primary" /> <a asp-action="BicicletumList" class="btn btn-danger">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
